# kNN e Medidas de Similaridade

In [2]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [3]:
X = np.array([[ 2.7810836 ,  2.550537  ],
       [ 1.46548937,  2.36212508],  
       [ 3.39656169,  4.40029353],  
       [ 1.38807019,  1.85022032],  
       [ 3.06407232,  3.00530597],  
       [ 7.62753121,  2.75926224],
       [ 5.33244125,  2.08862677],
       [ 6.92259672,  1.77106367],
       [ 8.67541865, -0.24206865],
       [ 7.67375647,  3.50856301]])

In [4]:
y = np.array([ 0,  0,  0,  0,  0,  1,  1,  1,  1,  1])

## Distância euclidiana

Dados dois valores, por exemplo, $p = (p_1,...,p_n)$ e $q = (q_1,...,q_n)$ a distância euclideana é dada por: $ \sqrt{(p_1-q_1)^2 + ... + (p_n-q_n)^2}$

Qual a distancia de X5 para X6

In [5]:
X[2], X[6]

(array([3.39656169, 4.40029353]), array([5.33244125, 2.08862677]))

In [6]:
np.sqrt( (X[2,0] - X[6,0])**2  + (X[2,1] - X[6,1])**2 )

3.0152003051397247

In [7]:
def dist_euclidiana(X, linha):
    X_ = (X - linha) ** 2
    return np.sqrt( np.sum(X_,axis=1) )

In [9]:
dist_euc = dist_euclidiana(X,[4,1])
dist_euc

array([1.97228856, 2.87734754, 3.4534235 , 2.74682579, 2.21296468,
       4.03162328, 1.72061266, 3.0226    , 4.8375897 , 4.44852503])

In [10]:
df = pd.DataFrame(X)
df

          0         1
0  2.781084  2.550537
1  1.465489  2.362125
2  3.396562  4.400294
3  1.388070  1.850220
4  3.064072  3.005306
5  7.627531  2.759262
6  5.332441  2.088627
7  6.922597  1.771064
8  8.675419 -0.242069
9  7.673756  3.508563

In [11]:
df['label'] = y
df

          0         1  label
0  2.781084  2.550537      0
1  1.465489  2.362125      0
2  3.396562  4.400294      0
3  1.388070  1.850220      0
4  3.064072  3.005306      0
5  7.627531  2.759262      1
6  5.332441  2.088627      1
7  6.922597  1.771064      1
8  8.675419 -0.242069      1
9  7.673756  3.508563      1

In [12]:
df['dist_euc'] = dist_euc
df

          0         1  label  dist_euc
0  2.781084  2.550537      0  1.972289
1  1.465489  2.362125      0  2.877348
2  3.396562  4.400294      0  3.453424
3  1.388070  1.850220      0  2.746826
4  3.064072  3.005306      0  2.212965
5  7.627531  2.759262      1  4.031623
6  5.332441  2.088627      1  1.720613
7  6.922597  1.771064      1  3.022600
8  8.675419 -0.242069      1  4.837590
9  7.673756  3.508563      1  4.448525

In [14]:
df.sort_values('dist_euc')

          0         1  label  dist_euc
6  5.332441  2.088627      1  1.720613
0  2.781084  2.550537      0  1.972289
4  3.064072  3.005306      0  2.212965
3  1.388070  1.850220      0  2.746826
1  1.465489  2.362125      0  2.877348
7  6.922597  1.771064      1  3.022600
2  3.396562  4.400294      0  3.453424
5  7.627531  2.759262      1  4.031623
9  7.673756  3.508563      1  4.448525
8  8.675419 -0.242069      1  4.837590